@model IEnumerable<MvcLibrary.Models.CheckoutBookViewModel>

@{
    ViewData["Title"] = "My checkouts";
}

<h1>Checkouts</h1>

<form asp-controler="Checkouts" asp-action="IndexLibrarian" method="get">
    <p>
        <label>Title: <input type="text" name="Title" /></label>
        <label>Author: <input type="text" name="Author" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
