@model IEnumerable<MvcLibrary.Models.ReservationBookViewModel>

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>

<form asp-controller="Reservations" asp-action="IndexLibrarian" method="get">
    <p>
        <label>Title: <input type="text" name="Title" /></label>
        <label>Author: <input type="text" name="Author" /></label>
        <label>Username: <input type="text" name="UserName" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidDate)
                </td>
                <td>
                    <a asp-area="" asp-controller="Checkouts" asp-action="Checkout" asp-route-id="@item.Id">Check out</a> |
                    <a asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                    <a asp-action="Unreserve" asp-route-id="@item.Id">Unreserve</a>
                </td>
            </tr>
        }
    </tbody>
</table>
